*{
    margin: 0;
    padding: 0;
}

body   {
    font-family: 'Montserrat',sans-serif;
}

/* navbar */

nav {
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    padding: 20px 0;
    color: black;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
     color: black;
     text-decoration: none;
}